<app-menu-bar></app-menu-bar>
<app-bread-crum></app-bread-crum>
<mat-tab-group mat-align-tabs="start" dynamicHeight animationDuration="0ms">
  <mat-tab label="SHIPPING">
    <div class="container">
    <form [formGroup]="newShipping" (ngSubmit)="onSubmit()" >
      <div class="one">
      <span><label for="serviceType" class="one">Address: </label>
      <input type="text" class="two"></span>
      </div>
      <div class="two" formGroupName="senderInformation">

      <input type="text" >
      </div>
      <div formGroupName="receiverInformation"></div>
      <div formGroupName="shipmentInformation"></div>
    </form>
    </div>
  </mat-tab>
  <mat-tab label="JOB SCHEDULING">
  </mat-tab>
  <mat-tab label="MANIFESTING">
  </mat-tab>
  <mat-tab label="SUPPLIES">
  </mat-tab>
  <mat-tab label="SHIPMENT PRICING">
  </mat-tab>
  <mat-tab label="ALTREF UPDATE">
  </mat-tab>
</mat-tab-group>


