<!-- Top Bar-->
<mat-toolbar>
    <mat-toolbar-row>
      <div> <img class="logo" src="assets/PHOTO-2021-06-27-11-33-26.jpg"> </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-container>
  <div class="container">
    <div class="navbar">
      <ng-template ngFor let-menu [ngForOf]="mainMenuBar">
        <a href="#home" *ngIf="menu.subMenuItems.length === 0">{{menu.menuItemName}}</a>
        <div class="dropdown" *ngIf="menu.subMenuItems.length > 0">
          <button class="dropbtn">{{menu.menuItemName}}</button>
          <div class="dropdown-content">
            <ng-template ngFor let-item [ngForOf]="menu.subMenuItems">
              <a [routerLink]="transform(item, menu.menuItemName)">{{item}}</a>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
