<!-- Top Bar-->
<mat-toolbar>
    <mat-toolbar-row>
        <div> For Logo</div>
    </mat-toolbar-row>
</mat-toolbar>

<header>
  <div class="container">
    <div class="navbar">
      <ng-template ngFor let-menu [ngForOf]="mainMenuBar">
        <a href="#home" *ngIf="menu.subMenuItems.length === 0">{{menu.menuItemName}}</a>
        <div class="dropdown" *ngIf="menu.subMenuItems.length > 0">
          <button class="dropbtn">{{menu.menuItemName}}
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" *ngFor="let item of menu.subMenuItems">{{item}}</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

</header>